.container.container-fluid
  %h3.branded HOPPIST alpha
  %h4
    = link_to "View by Brewery", alpha_breweries_path
    or
    = link_to "Random", new_alpha_review_path

  %h2 Breweries
  %p More to come..

  - @breweries.each do |brewery|
    %p= link_to brewery.name, alpha_brewery_path(brewery)
