<!DOCTYPE html>
<html>
<head>
  <title>HoppistWebApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%# TODO integrate a local copy of React. But how should this be deployed to Heroku? %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react-with-addons.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
